//
   Created with JetBrains WebStorm.
   User: paladin
   Date: 2/6/13
   Time: 11:07 PM
   To change this template use File | Settings | File Templates.

#me.test
    +ActionLink('space', 'view', star.x, star.y)(title=$L('title... he he he')):= star.name
    +ActionForm('space', 'view')
        label(for="m")= $L('label')
        input#m(name="me", value=$L('value'))