//
   Created with JetBrains WebStorm.
   User: paladin
   Date: 2/6/13
   Time: 11:07 PM
   To change this template use File | Settings | File Templates.

mixin ActionLink(controller, action)
    -attributes['data-controller'] = escape(controller);
    -attributes['data-action'] = escape(action);
    -attributes.href = attributes.href || 'javascript:';
    -if (arguments.length > 2) (attributes['data-params'] = escape([].slice.call(arguments, 2).map(function(_) { return JSON.stringify(_.valueOf ? _.valueOf() : _)}).join(',')));
    a(attributes)
        block

mixin ActionForm(controller, action)
    -attributes['data-controller'] = escape(controller);
    -attributes['data-action'] = escape(action);
    -attributes.action = attributes.action || 'javascript:';
    form(attributes)
        block
