//
   Created with JetBrains WebStorm.
   User: paladin
   Date: 2/6/13
   Time: 11:07 PM
   To change this template use File | Settings | File Templates.

#me.test
    - var star = {}
    +ActionLink('space', 'view', star.x, star.y) =star.name
    +ActionForm('space', 'goto')
        label(for="m") =$L('label')
        input#m(name="me", value=$L('value'))
