//
   Created with JetBrains WebStorm.
   User: viatsyshyn
   Date: 13.06.13
   Time: 19:00
   To change this template use File | Settings | File Templates.


ul.menu
    li one
    li two
    li tree
#body
.footer &copy; 2013 RIA Framework
